@import '../core/vars'

.table
  background-color: $bg-box--light
  border-radius: $radius-lg
  box-shadow: $box-light-shadow
  overflow: hidden

.operation-history__item.table-title
  position: sticky
  height: 62px
  top: 0
  left: 0
  z-index: 10
  background-color: #FAFAFA


.operation-history

  &-table

  &__item
    display: grid
    grid-template-areas: "type document name unit quantity counteragent"
    grid-template-columns: 137px 270px 274px 85px 124px 106px
    grid-template-rows: 62px auto
    align-items: center
    gap: 0px 24px
    font-size: 12px
    font-weight: 600
    color: $text-title
    padding: 0px 32px
    &.table-item
      position: relative
      font-size: 13px
      font-weight: normal
      color: $text-body
      border-bottom: 1px solid $border
      &::after
        content: ''
        position: absolute
        left: 12px
        top: calc( 50% - 11px )
        opacity: 0
        width: 3px
        height: 22px
        background-color: $bg-brand
        border-radius: 3px
        transition: opacity $transition
      &:hover
        &::after
          opacity: 1

  &__type
    grid-area: type

  &__document
    grid-area: document

  &__name
    grid-area: name
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis

  &__unit
    grid-area: unit
    justify-self: center

  &__quantity
    grid-area: quantity
    justify-self: center
  &__counteragent
    grid-area: counteragent
    justify-self: end


.import
  border-top: 1px solid $border
  border-left: 1px solid $border
  border-right: 1px solid $border
  border-radius: $radius-md
  overflow: hidden
  &__item
    display: grid
    grid-template-areas: "name quantity quantity-excel"
    grid-template-columns: 250px 127px 127px
    grid-template-rows: 62px auto
    align-items: center
    gap: 0px
    font-size: 12px
    font-weight: 600
    color: $text-title
    padding: 0px 24px
    &.table-item
      position: relative
      font-size: 13px
      font-weight: normal
      color: $text-body
      border-bottom: 1px solid #F5F5F5
      &::after
        content: ''
        position: absolute
        left: 12px
        top: calc( 50% - 11px )
        opacity: 0
        width: 3px
        height: 22px
        background-color: $bg-brand
        border-radius: 3px
        transition: opacity $transition
      &:hover
        &::after
          opacity: 1

  &__name
    grid-area: name
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
  &__quantity
    grid-area: quantity
    justify-self: center
  &__quantity-excel
    grid-area: quantity-excel
    justify-self: end

  &__bottom
    margin-top: 32px
