@import '../core/vars'

.warehouse-box
  position: relative
  background-color: $bg-box--light
  border-radius: $radius-lg
  box-shadow: $box-light-shadow

.table-title
  position: sticky
  top: 0
  left: 0
  height: 74px
  background-color: #FAFAFA
  border-radius: 12px 12px 0 0
  &.scrolled
    box-shadow: 0 4px 12px rgba(0,0,0,0.1)
    z-index: 2
    border-radius: 0

.warehouse

  &__item
    display: grid
    grid-template-areas: "check left unit price quantity sum"
    grid-template-columns: 18px 4fr 1fr 2fr 2fr 2fr
    grid-template-rows: 74px auto
    justify-content: space-between
    align-items: center
    gap: 0px 24px
    font-size: 12px
    font-weight: 600
    color: $text-title
    padding: 0px 32px
    &.table-item
      position: relative
      font-size: 13px
      font-weight: normal
      color: $text-body
      border-bottom: 1px solid #F5F5F5
      &::after
        content: ''
        position: absolute
        left: 12px
        top: calc( 50% - 11px )
        opacity: 0
        width: 3px
        height: 22px
        background-color: $bg-brand
        border-radius: 3px
        transition: opacity $transition
      &:hover
        &::after
          opacity: 1

  &__checkbox
    grid-area: check
    height: 18px

  &__left
    grid-area: left
    display: inline-block
    flex-direction: column
    gap: 4px
  &__name
    position: relative
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    color: $text-body
    transition: all $transition
    svg
      position: absolute
      left: 0
      visibility: hidden
      opacity: 0
      transition: all $transition
      cursor: pointer
    &:hover
      transition: all $transition
      padding-left: 20px
      svg
        visibility: visible
        opacity: 1
        pointer-events: auto

  &__number
    position: relative
    display: inline-block
    font-size: 12px
    font-weight: 500
    line-height: 12px
    margin-top: 4px
    padding: 6px 8px
    color: $text-body
    background-color: $neutral-200
    border-radius: 6px
    cursor: pointer
    svg
      position: absolute
      top: 50%
      left: 6px
      visibility: hidden
      opacity: 0
      pointer-events: none
      transform: translateY(-50%)
      transition: all $transition
      cursor: pointer
    &:hover
      transition: all $transition
      padding-left: 26px
      svg
        visibility: visible
        opacity: 1
        pointer-events: auto

  &__unit
    position: relative
    grid-area: unit
    justify-self: center
    svg
      position: absolute
      left: 0
      visibility: hidden
      opacity: 0
      pointer-events: none
      transition: all $transition
      cursor: pointer
    &:hover
      transition: all $transition
      padding-left: 20px
      svg
        visibility: visible
        opacity: 1
        pointer-events: auto

  &__price
    position: relative
    grid-area: price
    justify-self: center
    svg
      position: absolute
      left: 0
      visibility: hidden
      opacity: 0
      pointer-events: none
      transition: all $transition
      cursor: pointer
    &:hover
      transition: all $transition
      padding-left: 20px
      svg
        visibility: visible
        opacity: 1
        pointer-events: auto

  &__quantity
    position: relative
    grid-area: quantity
    justify-self: center
    svg
      position: absolute
      left: 0
      visibility: hidden
      opacity: 0
      pointer-events: none
      transition: all $transition
      cursor: pointer
    &:hover
      transition: all $transition
      padding-left: 20px
      svg
        visibility: visible
        opacity: 1
        pointer-events: auto

  &__sum
    position: relative
    grid-area: sum
    justify-self: end
    svg
      position: absolute
      left: 0
      visibility: hidden
      opacity: 0
      pointer-events: none
      transition: all $transition
      cursor: pointer
    &:hover
      transition: all $transition
      padding-left: 20px
      svg
        visibility: visible
        opacity: 1
        pointer-events: auto


.import
  border-top: 1px solid $border
  border-left: 1px solid $border
  border-right: 1px solid $border
  border-radius: $radius-md
  overflow: hidden
  &__item
    display: grid
    grid-template-areas: "name quantity quantity-excel"
    grid-template-columns: 250px 127px 127px
    grid-template-rows: 62px auto
    align-items: center
    gap: 0px
    font-size: 12px
    font-weight: 600
    color: $text-title
    padding: 0px 24px
    &.table-item
      position: relative
      font-size: 13px
      font-weight: normal
      color: $text-body
      border-bottom: 1px solid $border
      &::after
        content: ''
        position: absolute
        left: 12px
        top: calc( 50% - 11px )
        opacity: 0
        width: 3px
        height: 22px
        background-color: $bg-brand
        border-radius: 3px
        transition: opacity $transition
      &:hover
        &::after
          opacity: 1

  &__name
    grid-area: name
    display: -webkit-box
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
  &__quantity
    grid-area: quantity
    justify-self: center
  &__quantity-excel
    grid-area: quantity-excel
    justify-self: end

  &__bottom
    margin-top: 32px
