<header class="header">
    <div class="header__logo">InventPro <span>Система инвентаризации</span></div>
    <div class="header__button-box">
        <button id="btnAddOperation" class="button button--md button--brand">
            Новая операция
        </button>

        <button id="showToastButton" class="button button--md button--brand">
            Проверка
        </button>

        <form id="importForm" data-request="onImportExcel" enctype="multipart/form-data" data-request-files>
            <input id="importInput" style="display: none" type="file" name="excel_file" accept=".xlsx,.xls,.csv" required>
            <button id="importButton" type="button" class="button button--md button--second">Импорт</button>
        </form>

        <div data-request-flash></div>
    </div>
</header>

