@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy-Code";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy-Code";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Exo2-Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo2/Exo2-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Exo2-Code";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Exo2/Exo2-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Exo2-Code";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Exo2/Exo2-SemiBold.woff2") format("woff2");
}
::placeholder {
  color: var(--text-light);
}

::selection {
  background-color: var(--bg-brand);
  color: #fff;
}

input, textarea {
  outline: none;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: var(--red-500);
}
input:required:valid, textarea:required:valid {
  border-color: var(--green-500);
}

html {
  min-height: 100%;
}

body {
  position: relative;
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: 14px;
  line-height: 1rem;
  background-color: var(--bg-body);
  color: var(--text-body);
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  color: var(--text-brand);
}

.container {
  position: relative;
  display: grid;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-columns: 68px 1fr;
  grid-template-rows: 80px auto 64px;
  gap: 48px 32px;
  max-width: 1180px;
  width: 100%;
  margin: 32px auto;
  padding: 0;
}
.container--sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 640px;
  margin: 0 auto;
  padding: 24px;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
  align-self: start;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.logo {
  font-size: 18px;
  line-height: 18px;
}
.logo span {
  font-weight: 600;
}

.img-zoom {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: var(--radius-sm);
  transition: all var(--transition);
}
.img-zoom__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img-zoom__icon svg {
  box-shadow: 0 0 0 0px hsla(0, 0%, 100%, 0.13);
  transform: scale(0.7);
  border-radius: 28px;
  transition: box-shadow 0.5s ease-out, transform 0.2s ease-out;
}

.dropdown {
  padding: 4px;
  background-color: var(--bg-box--light);
  border: 1px solid var(--border);
  border-radius: var(--radius-nm);
  box-shadow: var(--box-light-shadow);
}

.box--light {
  background-color: var(--bg-box--light);
  box-shadow: var(--box-light-shadow);
  border-radius: var(--radius-lg);
}

.d-none {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--bg-box--light);
  border-radius: var(--radius-lg);
}
.header__logo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: var(--text-brand);
}
.header__logo span {
  margin-top: 2px;
  font-size: 12px;
  color: var(--text-subtitle);
  font-weight: 500;
}

.header__button-box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.header-search__input {
  width: 350px !important;
  padding-left: 52px !important;
  border-radius: 24px !important;
}
.header-search__icon {
  position: absolute;
  top: 50%;
  left: 24px;
  display: flex;
  transform: translateY(-50%);
}
.header-search__clear {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: var(--text-error);
  padding: 4px;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.sidebar-navigation {
  padding: 6px;
  background-color: var(--bg-box--light);
  box-shadow: var(--box-light-shadow);
  border-radius: 34px;
}
.sidebar-navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
.sidebar-navigation__link {
  display: flex;
  color: var(--text-title);
  padding: 16px;
  border-radius: 28px;
  transition: all var(--transition);
}
.sidebar-navigation__link:hover {
  color: var(--text-title);
  background-color: var(--neutral-200);
}
.sidebar-navigation__link:active {
  color: var(--button-brand-text);
  background-color: var(--button-brand-bg-default);
  box-shadow: var(--button-brand-shadow-default);
}
.sidebar-navigation__link.active {
  color: var(--button-brand-text);
  background-color: var(--button-brand-bg-default);
  box-shadow: var(--button-brand-shadow-default);
}

.sidebar-category {
  position: relative;
  padding: 6px;
  background-color: var(--bg-box--dark);
  box-shadow: var(--box-light-shadow);
  border-radius: 34px;
}
.sidebar-category__button {
  display: flex;
  color: var(--text-light);
  padding: 16px;
  border-radius: 28px;
  transition: all var(--transition);
}
.sidebar-category__button:hover {
  color: var(--text-light);
  background-color: var(--neutral-700);
}
.sidebar-category__button:active {
  color: var(--text-light);
  background-color: #4D4D94;
  box-shadow: var(--button-brand-shadow-default);
}
.sidebar-category__button.active {
  color: var(--button-brand-text);
  background-color: var(--button-brand-bg-default);
  box-shadow: var(--button-brand-shadow-default);
  transition: all var(--transition);
}
.sidebar-category__content {
  position: absolute;
  left: calc(100% + 12px);
  bottom: -48px;
  width: max-content;
  background-color: var(--bg-box--dark);
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  border-radius: var(--radius-nm);
  transition: visibility var(--transition), opacity var(--transition);
}
.sidebar-category__content.active {
  opacity: 1;
  visibility: visible;
}

.bottom-bar {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 8px 8px 8px 16px;
  background-color: var(--bg-box--dark);
  border-radius: 28px;
  opacity: 1;
  transition: all var(--transition);
  z-index: 4;
}
.bottom-bar.hidden {
  opacity: 0;
  bottom: 30px;
  pointer-events: none;
}
.bottom-bar__close {
  height: 24px;
  color: #6868B1;
}
.bottom-bar__left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.bottom-bar__count-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--text-light);
}
.bottom-bar__count {
  padding: 4px 8px;
  background-color: var(--neutral-700);
  border-radius: 12px;
}
.bottom-bar__count-text {
  display: block;
}
.bottom-bar__button-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.bottom-bar__add-category-section {
  position: relative;
}

.warehouse-box {
  position: relative;
  background-color: var(--bg-box--light);
  border-radius: var(--radius-lg);
  box-shadow: var(--box-light-shadow);
}

.table-title {
  position: sticky;
  top: 0;
  left: 0;
  height: 74px;
  background-color: #FAFAFA;
  border-radius: 12px 12px 0 0;
}
.table-title.scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 0;
}

.warehouse__item {
  display: grid;
  grid-template-areas: "check left unit price quantity sum";
  grid-template-columns: 18px 4fr 1fr 2fr 2fr 2fr;
  grid-template-rows: 74px auto;
  justify-content: space-between;
  align-items: center;
  gap: 0px 24px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-title);
  padding: 0px 32px;
}
.warehouse__item.table-item {
  position: relative;
  font-size: 13px;
  font-weight: normal;
  color: var(--text-body);
  border-bottom: 1px solid #F5F5F5;
}
.warehouse__item.table-item::after {
  content: "";
  position: absolute;
  left: 12px;
  top: calc(50% - 11px);
  opacity: 0;
  width: 3px;
  height: 22px;
  background-color: var(--bg-brand);
  border-radius: 3px;
  transition: opacity var(--transition);
}
.warehouse__item.table-item:hover::after {
  opacity: 1;
}
.warehouse__checkbox {
  grid-area: check;
  height: 18px;
}
.warehouse__left {
  grid-area: left;
  display: inline-block;
  flex-direction: column;
  gap: 4px;
}
.warehouse__name {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all var(--transition);
}
.warehouse__name svg {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition);
  cursor: pointer;
}
.warehouse__name:hover {
  transition: all var(--transition);
  padding-left: 20px;
}
.warehouse__name:hover svg {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.warehouse__number {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-top: 4px;
  padding: 6px 8px;
  color: var(--text-body);
  background-color: var(--neutral-200);
  border-radius: 6px;
  cursor: pointer;
}
.warehouse__number svg {
  position: absolute;
  top: 50%;
  left: 6px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all var(--transition);
  cursor: pointer;
}
.warehouse__number:hover {
  transition: all var(--transition);
  padding-left: 26px;
}
.warehouse__number:hover svg {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.warehouse__unit {
  position: relative;
  grid-area: unit;
  justify-self: center;
}
.warehouse__unit svg {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition);
  cursor: pointer;
}
.warehouse__unit:hover {
  transition: all var(--transition);
  padding-left: 20px;
}
.warehouse__unit:hover svg {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.warehouse__price {
  position: relative;
  grid-area: price;
  justify-self: center;
}
.warehouse__price svg {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition);
  cursor: pointer;
}
.warehouse__price:hover {
  transition: all var(--transition);
  padding-left: 20px;
}
.warehouse__price:hover svg {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.warehouse__quantity {
  position: relative;
  grid-area: quantity;
  justify-self: center;
}
.warehouse__quantity svg {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition);
  cursor: pointer;
}
.warehouse__quantity:hover {
  transition: all var(--transition);
  padding-left: 20px;
}
.warehouse__quantity:hover svg {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.warehouse__sum {
  position: relative;
  grid-area: sum;
  justify-self: end;
}
.warehouse__sum svg {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition);
  cursor: pointer;
}
.warehouse__sum:hover {
  transition: all var(--transition);
  padding-left: 20px;
}
.warehouse__sum:hover svg {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.import {
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-radius: var(--radius-md);
  overflow: hidden;
}
.import__item {
  display: grid;
  grid-template-areas: "name quantity quantity-excel";
  grid-template-columns: 250px 127px 127px;
  grid-template-rows: 62px auto;
  align-items: center;
  gap: 0px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-title);
  padding: 0px 24px;
}
.import__item.table-item {
  position: relative;
  font-size: 13px;
  font-weight: normal;
  color: var(--text-body);
  border-bottom: 1px solid var(--border);
}
.import__item.table-item::after {
  content: "";
  position: absolute;
  left: 12px;
  top: calc(50% - 11px);
  opacity: 0;
  width: 3px;
  height: 22px;
  background-color: var(--bg-brand);
  border-radius: 3px;
  transition: opacity var(--transition);
}
.import__item.table-item:hover::after {
  opacity: 1;
}
.import__name {
  grid-area: name;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.import__quantity {
  grid-area: quantity;
  justify-self: center;
}
.import__quantity-excel {
  grid-area: quantity-excel;
  justify-self: end;
}
.import__bottom {
  margin-top: 32px;
}

.operation-history__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 24px;
  margin-bottom: 24px;
}
.operation-history__count {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--text-body);
}
.operation-history__count span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding: 4px 8px;
  margin-left: 12px;
  background-color: var(--neutral-200);
  border-radius: 4px;
}
.operation-history__filters {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.operation-history__filters-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: var(--text-subtitle);
  margin-right: 16px;
}
.operation-history__filters-select--type {
  min-width: 164px;
}
.operation-history__filters-select--counteragent {
  min-width: 200px;
}
.operation-history__filters-select--year {
  min-width: 164px;
}
.operation-history__filters-option {
  padding: 12px 16px;
}

.table {
  background-color: var(--bg-box--light);
  border-radius: var(--radius-lg);
  box-shadow: var(--box-light-shadow);
}

.operation-history__item.table-title {
  position: sticky;
  height: 74px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FAFAFA;
}

.operation-history__item {
  display: grid;
  grid-template-areas: "check type left price quantity date counteragent";
  grid-template-columns: 18px 106px 270px 122px 122px 122px 106px;
  grid-template-rows: 74px auto;
  align-items: center;
  gap: 0px 24px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-title);
  padding: 0px 32px;
}
.operation-history__item.table-item {
  position: relative;
  font-size: 13px;
  font-weight: normal;
  color: var(--text-body);
  border-bottom: 1px solid var(--border);
}
.operation-history__item.table-item::after {
  content: "";
  position: absolute;
  left: 12px;
  top: calc(50% - 11px);
  opacity: 0;
  width: 3px;
  height: 22px;
  background-color: var(--bg-brand);
  border-radius: 3px;
  transition: opacity var(--transition);
}
.operation-history__item.table-item:hover::after {
  opacity: 1;
}
.operation-history__check {
  grid-area: check;
}
.operation-history__type {
  grid-area: type;
}
.operation-history__left {
  grid-area: left;
  display: inline-block;
  flex-direction: column;
  gap: 4px;
}
.operation-history__name {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all var(--transition);
}
.operation-history__number {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-top: 4px;
  padding: 6px 8px;
  color: var(--text-body);
  background-color: var(--neutral-200);
  border-radius: 6px;
  cursor: pointer;
}
.operation-history__price {
  position: relative;
  grid-area: price;
  justify-self: center;
}
.operation-history__quantity {
  grid-area: quantity;
  justify-self: center;
}
.operation-history__date {
  grid-area: date;
  justify-self: center;
}
.operation-history__counteragent {
  grid-area: counteragent;
  justify-self: end;
}

.operation-form__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-subtitle);
  text-align: center;
}
.operation-form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
}
.operation-form__row--document {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.operation-form__row--document:not(:first-child)::before {
  content: "";
  margin: 0 auto 12px auto;
  height: 1px;
  width: 300px;
  background-color: #e6e6e6;
}
.operation-form__row--document-top {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "doc-name doc-num";
  gap: 24px 12px;
}
.operation-form__row--document-middle {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "doc-purpose doc-date";
  gap: 24px 12px;
}
.operation-form__row--document-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.operation-form__type-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.operation-form__type-box__name {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 24px;
  border: 1px solid #e8e8e8;
  border-radius: var(--radius-md);
  transition: all var(--transition);
}
.operation-form__type-box__name:hover {
  border: 1px solid var(--bg-brand);
}
.operation-form__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.operation-form__box__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-body);
}
.operation-form__box__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
.operation-form__box__content--products {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px 12px;
  flex-wrap: wrap;
}
.operation-form__box__content--products:not(:first-child)::before {
  content: "";
  margin: 0 auto 12px auto;
  height: 1px;
  width: 300px;
  background-color: #e6e6e6;
}
.operation-form__input--counteragent {
  width: 150px;
}
.operation-form__input--doc-name {
  grid-area: doc-name;
}
.operation-form__input--doc-num {
  grid-area: doc-num;
}
.operation-form__input--doc-purpose {
  grid-area: doc-purpose;
}
.operation-form__input--doc-date {
  grid-area: doc-date;
}
.operation-form__input--name {
  width: 368px;
}
.operation-form__input--inv_number {
  width: 212px;
}
.operation-form__input--unit {
  width: 109px;
}
.operation-form__input--price {
  width: 150px;
}
.operation-form__input--quantity {
  width: 145px;
}
.operation-form__input--sum {
  width: 150px;
}
.operation-form__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.operation-form__documents > .operation-form__box__content {
  gap: 24px;
}

.operation-form__type-box__label input[type=radio]:checked + .operation-form__type-box__name {
  color: var(--text-light);
  background-color: var(--bg-brand);
  border: 1px solid transparent;
  box-shadow: var(--button-brand-shadow-default);
}

.category-menu {
  position: absolute;
  right: 0;
  bottom: calc(100% + 12px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  z-index: 11;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transition: visibility var(--transition), opacity var(--transition), transform var(--transition);
}
.category-menu.hidden {
  transform: translateY(16px);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.category-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(6px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 3;
}
.category-menu__overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
.category-menu__list {
  padding: 4px;
  background-color: var(--bg-box--dark);
  border-radius: var(--radius-nm);
  pointer-events: all;
  z-index: 11;
}
.category-menu__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 16px;
  color: var(--text-light);
  cursor: pointer;
  border-radius: var(--radius-sm);
  transition: all var(--transition);
}
.category-menu__item:hover {
  background-color: #3F3F79;
}
.category-menu__item:active, .category-menu__item.active {
  background-color: var(--neutral-700);
}
.category-menu__item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
}
.category-menu__item-left span {
  font-size: 11px;
  line-height: 11px;
  margin-top: 2px;
  color: #BABABA;
}
.category-menu__item-arrow {
  display: flex;
  margin-left: 24px;
  transform: rotate(-90deg);
  transition: transform var(--transition);
}
.category-menu__children {
  position: absolute;
  left: calc(100% + 16px);
  bottom: -4px;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: var(--bg-box--dark);
  border-radius: var(--radius-nm);
  transform: translateX(0);
  transition: all var(--transition);
}
.category-menu__children.hidden {
  transform: translateX(-12px);
  visibility: hidden;
  opacity: 0;
}

.category-menu__list > .category-menu__item:nth-child(9) > .category-menu__children {
  top: -54px;
}

.category-menu__list > .category-menu__item > .category-menu__children {
  top: 0;
}

.category-menu__list > .category-menu__item > .category-menu__children > .category-menu__item > .category-menu__children {
  top: 0;
}

.category-menu__item.active > .category-menu__item-arrow {
  transform: rotate(90deg);
}

.documents-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(349px, 1fr));
  gap: 24px 16px;
}

.documents-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
  padding: 16px;
  background-color: var(--bg-box--light);
  box-shadow: var(--box-light-shadow);
  border-radius: var(--radius-lg);
}
.documents-item.document__single {
  gap: 32px;
  padding: 24px;
}
.documents-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.documents-item__top-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}
.documents-item__top-left.document__single {
  flex-direction: row;
  align-items: center;
}
.documents-item__counteragent {
  font-size: 14px;
  line-height: 14px;
  color: var(--text-body);
}
.documents-item__counteragent span {
  font-weight: 600;
}
.documents-item__doc-date {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-title);
}
.documents-item__middle {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.documents-item__middle.document__single {
  gap: 24px;
}
.documents-item__documents-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 104px;
}
.documents-item__documents-info.document__single {
  height: auto;
  gap: 24px;
}
.documents-item__documents-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: var(--text-title);
}
.documents-item__doc-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.documents-item__doc-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.documents-item__doc-name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.documents-item__have-pdf, .documents-item__button-see {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  border-radius: var(--radius-sm);
}
.documents-item__have-pdf {
  padding: 4px 6px;
  color: var(--text-light);
  background-color: var(--bg-success);
}
.documents-item__button-see {
  padding: 6px 12px;
  color: var(--text-light);
  background-color: var(--bg-brand);
}
.documents-item__button-see:hover {
  color: var(--text-light);
  background-color: var(--button-brand-bg-hover);
}
.documents-item__button-see:active {
  color: var(--text-light);
  background-color: var(--button-brand-bg-active);
}
.documents-item__doc-purpose {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  color: var(--text-title);
  background-color: var(--bg-body);
  border-radius: var(--radius-nm);
}
.documents-item__doc-purpose p {
  font-weight: 500;
  color: var(--text-body);
}
.documents-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.documents-item__product-count {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: var(--text-title);
}
.documents-item__product-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.documents-item__product-box input {
  cursor: pointer;
}
.documents-item__product-box-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: var(--text-title);
}
.documents-item__product-box-title span {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-light);
  padding: 4px 12px;
  margin-left: 8px;
  background-color: var(--bg-brand);
  border-radius: 14px;
}

.alert {
  width: 100%;
  font-size: 14px;
  line-height: 1.45;
  padding: 10px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: var(--radius-nm);
}
.alert b {
  font-weight: 600;
}
.alert--success {
  color: var(--text-success);
  background-color: var(--bg-success);
}
.alert--info {
  color: var(--text-brand);
  background-color: var(--bg-brand);
}

.label--sm {
  display: inline-flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  padding: 8px 24px;
  border-radius: 14px;
}
.label--success {
  color: var(--label-success-text);
  background-color: var(--label-success-bg);
}
.label--error {
  color: var(--label-error-text);
  background-color: var(--label-error-bg);
}
.label--info {
  color: var(--label-brand-text);
  background-color: var(--label-brand-bg);
}
.label--border {
  color: var(--text-body);
  border: 1px solid #e8e8e8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(6px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  background: rgba(255, 255, 255, 0.9);
  padding: 24px;
  border-radius: var(--radius-lg);
  max-width: 600px;
  width: 90%;
  position: relative;
  top: 50px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header h2 {
  font-size: 18px;
  line-height: 1;
  color: var(--text-title);
}

.modal-close {
  cursor: pointer;
  height: 24px;
  color: var(--text-error);
  opacity: 0.7;
  transition: opacity var(--transition);
}
.modal-close:hover {
  opacity: 1;
}

.modal-content {
  margin-top: 32px;
  max-height: 430px;
  overflow-y: auto;
}

.toast {
  padding: 14px 18px;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s ease;
}
.toast.success {
  background: var(--bg-success);
}
.toast.error {
  background: var(--bg-error);
}
.toast.info {
  background: var(--bg-brand);
}
.toast.bottom-right.show {
  opacity: 1;
  transform: translateX(0);
}
.toast.bottom-right.hide {
  opacity: 0;
  transform: translateX(100%);
}
.toast.top-center.show {
  opacity: 1;
  transform: translateY(0);
}
.toast.top-center.hide {
  opacity: 0;
  transform: translateY(-30px);
}

.form-floating {
  position: relative;
}
.form-floating .form-input {
  width: 100%;
  padding: 16px 24px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid var(--field-border-default);
  border-radius: var(--radius-nm);
  background: transparent;
  color: var(--text-title);
  transition: all var(--transition);
}
.form-floating .form-input:hover {
  border-color: var(--field-border-hover);
}
.form-floating .form-input:focus {
  border-color: var(--field-border-focus);
}
.form-floating .form-input:focus + .form-label, .form-floating .form-input:not(:placeholder-shown) + .form-label {
  top: 0px;
  left: 12px;
  font-size: 12px;
  font-weight: 500;
  padding: 0 4px;
  background-color: #fff;
  color: var(--field-placeholder-focus);
}
.form-floating .form-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: var(--field-placeholder);
  transition: all var(--transition);
}

.error-field {
  border: 1px solid var(--field-border-error) !important;
}

.field-message {
  position: absolute;
  left: 6px;
  bottom: -16px;
  font-size: 12px;
  font-weight: 500;
}
.field-message--error {
  color: var(--text-error);
}
.field-message--info {
  color: var(--text-title);
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:active, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: var(--text-title) !important;
}

input::placeholder {
  color: var(--field-placeholder);
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkbox input {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--field-border-hover);
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: border-color 0.2s, background-color 0.2s;
  /* Короткая линия галочки */
  /* Длинная линия галочки */
  /* checked animation */
}
.checkbox input:hover {
  border-color: var(--bg-brand);
}
.checkbox input::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  top: 7px;
  left: 3px;
  transform-origin: left center;
  transform: rotate(45deg);
  border-radius: 2px;
  transition: width 0.15s ease-out;
  opacity: 0;
}
.checkbox input::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  top: 10px;
  left: 6px;
  transform-origin: left center;
  transform: rotate(-45deg);
  border-radius: 2px;
  transition: width 0.15s ease-out 0.15s;
  opacity: 0;
}
.checkbox input:checked {
  background: var(--bg-brand);
  border-color: var(--bg-brand);
}
.checkbox input:checked::before {
  opacity: 1;
  width: 5px;
}
.checkbox input:checked::after {
  opacity: 1;
  width: 9px;
}

.button--md {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 10px 24px;
  border-radius: var(--radius-md);
}
.button--md svg {
  margin-right: 8px;
}
.button--sm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: var(--radius-md);
}
.button--sm svg {
  margin-right: 8px;
}
.button--round {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 16px;
  border-radius: 20px;
}
.button--round svg {
  margin-right: 8px;
}
.button--brand {
  color: var(--button-brand-text);
  background-color: var(--button-brand-bg-default);
  box-shadow: var(--button-brand-shadow-default);
  transition: all var(--transition);
}
.button--brand:hover {
  color: var(--button-brand-text);
  background-color: var(--button-brand-bg-hover);
  box-shadow: var(--button-brand-shadow-hover);
}
.button--brand:active {
  color: var(--button-brand-text);
  background-color: var(--button-brand-bg-active);
  box-shadow: none;
  transform: scale(0.98);
}
.button--success {
  color: var(--button-success-text);
  background-color: var(--button-success-bg-default);
  box-shadow: var(--button-success-shadow-default);
  transition: all var(--transition);
}
.button--success:hover {
  color: var(--button-success-text);
  background-color: var(--button-success-bg-hover);
  box-shadow: var(--button-success-shadow-hover);
}
.button--success:active {
  color: var(--button-success-text);
  background-color: var(--button-success-bg-active);
  box-shadow: none;
  transform: scale(0.98);
}
.button--error {
  color: var(--button-error-text);
  background-color: var(--button-error-bg-default);
  box-shadow: var(--button-error-shadow-default);
  transition: all var(--transition);
}
.button--error:hover {
  background-color: var(--button-error-bg-hover);
  box-shadow: var(--button-error-shadow-hover);
}
.button--error:active {
  background-color: var(--button-error-bg-active);
  box-shadow: none;
  transform: scale(0.98);
}
.button--second {
  color: var(--button-second-text);
  background-color: var(--button-second-bg-default);
  transition: all var(--transition);
}
.button--second:hover {
  background-color: var(--button-second-bg-hover);
}
.button--second:active {
  background-color: var(--button-second-bg-active);
  transform: scale(0.98);
}
.button--second.remove-document-btn, .button--second.remove-product-btn {
  color: var(--text-error);
  background-color: transparent;
}
.button--second.remove-document-btn:hover, .button--second.remove-product-btn:hover {
  color: var(--button-error-text);
  background-color: var(--button-error-bg-hover);
}
.button--second.remove-document-btn:active, .button--second.remove-product-btn:active {
  background-color: var(--button-error-bg-active);
  transform: scale(0.98);
}
.button--dark {
  color: var(--text-light);
  background-color: var(--neutral-700);
  transition: all var(--transition);
}
.button--dark:hover {
  background-color: #4D4D94;
}
.button--dark:active {
  background-color: #3F3F79;
  transform: scale(0.98);
}

.button--lg:has(svg) {
  padding: 16px 32px 16px 24px;
}

.button--md:has(svg) {
  padding: 10px 24px 10px 20px;
}

.button--sm:has(svg) {
  padding: 8px 16px 8px 12px;
}

.button--dark.button--inset-shadow {
  box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.08);
}

.button--brand.button--inset-shadow {
  box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.16);
}

.sidebar-category__button.active.button--inset-shadow {
  box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.16);
}

.custom-select {
  position: relative;
  user-select: none;
  cursor: pointer;
  margin-right: 10px;
}
.custom-select::after {
  position: absolute;
  top: 50%;
  right: 24px;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/select-arrow.svg);
  background-size: 16px;
  transform: translateY(-50%);
  transition: transform var(--transition);
}
.custom-select.active::after {
  transform: rotate(180deg) translateY(50%);
}
.custom-select.active .options {
  visibility: visible;
  opacity: 1;
  transform: translateY(24px);
}
.custom-select .selected {
  font-size: 14px;
  padding: 12px 24px;
  border: 1px solid var(--border);
  border-radius: 24px;
  transition: border var(--transition);
}
.custom-select .selected:hover {
  border: 1px solid var(--field-border-hover);
}
.custom-select .selected:active {
  border: 1px solid var(--field-border-focus);
}
.custom-select .options {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  max-height: 250px;
  font-size: 14px;
  line-height: 14px;
  color: var(--text-body);
  border-radius: 6px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  transform: translateY(0);
  transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
  z-index: 100;
}
.custom-select .option {
  padding: 12px 24px;
  margin-bottom: 4px;
  border-radius: 4px;
  transition: background 0.2s;
}
.custom-select .option:hover {
  background: var(--neutral-200);
}
.custom-select .option.operation-history__filters-option--type {
  padding: 12px 24px 12px 34px;
}
.custom-select .option.operation-history__filters-option--type:nth-child(1) {
  background-image: url(../img/icon/select/ring--dark.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}
.custom-select .option.operation-history__filters-option--type:nth-child(2) {
  background-image: url(../img/icon/select/ring--success.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}
.custom-select .option.operation-history__filters-option--type:nth-child(3) {
  background-image: url(../img/icon/select/ring--info.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}
.custom-select .option.operation-history__filters-option--type:nth-child(4) {
  background-image: url(../img/icon/select/ring--error.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}
.custom-select .option.operation-history__filters-option--type:nth-child(5) {
  background-image: url(../img/icon/select/ring--light.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  margin-bottom: 0;
}