@font-face {
  font-family: "Gilroy-Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy-Code";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy-Code";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Exo2-Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo2/Exo2-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Exo2-Code";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Exo2/Exo2-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Exo2-Code";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Exo2/Exo2-SemiBold.woff2") format("woff2");
}
::placeholder {
  color: var(--text-light);
}

::selection {
  background-color: var(--bg-brand);
  color: #fff;
}

input, textarea {
  outline: none;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: var(--red-500);
}
input:required:valid, textarea:required:valid {
  border-color: var(--green-500);
}

html {
  min-height: 100%;
}

body {
  position: relative;
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--bg-body);
  color: var(--text-body);
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  color: var(--text-brand);
}

.container {
  position: relative;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 64px auto 128px;
  gap: 48px 32px;
  max-width: 1180px;
  width: 100%;
  margin: 32px auto;
  padding: 0;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
  align-self: start;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.logo {
  font-size: 18px;
  line-height: 18px;
}
.logo span {
  font-weight: 600;
}

.img-zoom {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: var(--radius-sm);
  transition: all var(--transition);
}
.img-zoom__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img-zoom__icon svg {
  box-shadow: 0 0 0 0px hsla(0, 0%, 100%, 0.13);
  transform: scale(0.7);
  border-radius: 28px;
  transition: box-shadow 0.5s ease-out, transform 0.2s ease-out;
}

.dropdown {
  padding: 4px;
  background-color: var(--bg-box);
  border: 1px solid var(--border);
  border-radius: var(--radius-nm);
  box-shadow: var(--box-light-shadow);
}

.box--light {
  background-color: var(--bg-box);
  box-shadow: var(--box-light-shadow);
  border-radius: var(--radius-lg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--bg-box);
  border-radius: var(--radius-lg);
}
.header__logo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: var(--text-brand);
}
.header__logo span {
  margin-top: 2px;
  font-size: 12px;
  color: var(--text-subtitle);
  font-weight: 500;
}

.header__button-box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.bottom-bar {
  position: fixed;
  bottom: 50px;
  left: calc(50% - 134px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  width: 268px;
  height: 72px;
  background-color: hsla(217, 51%, 57%, 0.24);
  border-radius: 36px;
  backdrop-filter: blur(8px);
}
.bottom-bar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.bottom-bar__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-bar__link {
  padding: 14px;
  height: 52px;
  color: var(--text-brand);
  border: 1px solid transparent;
  border-radius: 26px;
}
.bottom-bar__link:hover {
  color: var(--text-light);
  background-color: var(--bg-brand);
  box-shadow: 0 4px 12px 0 var(--blue-400), inset 0 0px 2px 0 rgba(255, 255, 255, 0.56), inset 0 -1px 2px rgba(0, 0, 0, 0.16);
}

.warehouse-box {
  background-color: var(--bg-box);
  border-radius: var(--radius-lg);
  box-shadow: var(--box-light-shadow);
  overflow: hidden;
}

.table-title {
  background-color: #FAFAFA;
}

.warehouse__item {
  display: grid;
  grid-template-areas: "name number unit price quantity sum";
  grid-template-columns: 300px 260px 85px 100px 124px 124px;
  grid-template-rows: 62px auto;
  align-items: center;
  gap: 0px 24px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-title);
  padding: 0px 32px;
}
.warehouse__item.table-item {
  position: relative;
  font-size: 13px;
  font-weight: normal;
  color: var(--text-body);
  border-bottom: 1px solid var(--border);
}
.warehouse__item.table-item::after {
  content: "";
  position: absolute;
  left: 12px;
  top: calc(50% - 11px);
  opacity: 0;
  width: 3px;
  height: 22px;
  background-color: var(--bg-brand);
  border-radius: 3px;
  transition: opacity var(--transition);
}
.warehouse__item.table-item:hover::after {
  opacity: 1;
}
.warehouse__name {
  grid-area: name;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.warehouse__number {
  grid-area: number;
  margin-left: 24px;
}
.warehouse__unit {
  grid-area: unit;
  justify-self: center;
}
.warehouse__price {
  grid-area: price;
  justify-self: center;
}
.warehouse__quantity {
  grid-area: quantity;
  justify-self: center;
}
.warehouse__sum {
  grid-area: sum;
  justify-self: end;
}

.import {
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-radius: var(--radius-md);
  overflow: hidden;
}
.import__item {
  display: grid;
  grid-template-areas: "name quantity quantity-excel";
  grid-template-columns: 250px 127px 127px;
  grid-template-rows: 62px auto;
  align-items: center;
  gap: 0px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-title);
  padding: 0px 24px;
}
.import__item.table-item {
  position: relative;
  font-size: 13px;
  font-weight: normal;
  color: var(--text-body);
  border-bottom: 1px solid var(--border);
}
.import__item.table-item::after {
  content: "";
  position: absolute;
  left: 12px;
  top: calc(50% - 11px);
  opacity: 0;
  width: 3px;
  height: 22px;
  background-color: var(--bg-brand);
  border-radius: 3px;
  transition: opacity var(--transition);
}
.import__item.table-item:hover::after {
  opacity: 1;
}
.import__name {
  grid-area: name;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.import__quantity {
  grid-area: quantity;
  justify-self: center;
}
.import__quantity-excel {
  grid-area: quantity-excel;
  justify-self: end;
}
.import__bottom {
  margin-top: 32px;
}

.add-operation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 640px;
  margin: 0 auto;
  padding: 24px;
}
.add-operation__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-subtitle);
  text-align: center;
}
.add-operation__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
}
.add-operation__type-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.add-operation__type-box__name {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 24px;
  border: 1px solid #e8e8e8;
  border-radius: var(--radius-md);
  transition: all var(--transition);
}
.add-operation__type-box__name:hover {
  border: 1px solid var(--bg-brand);
}
.add-operation__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.add-operation__box__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-body);
}
.add-operation__box__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
.add-operation__box__content--documents {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
.add-operation__box__content--products {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.add-operation__box__content--products:not(:first-child)::before {
  content: "";
  margin: 0 auto 12px auto;
  height: 1px;
  width: 300px;
  background-color: #e6e6e6;
}
.add-operation__input--counteragent {
  width: 150px;
}
.add-operation__input--doc-name {
  width: 357px;
}
.add-operation__input--doc-num {
  width: 90px;
}
.add-operation__input--doc-date {
  width: 125px;
}
.add-operation__input--name {
  width: 368px;
}
.add-operation__input--inv_number {
  width: 212px;
}
.add-operation__input--unit {
  width: 109px;
}
.add-operation__input--price {
  width: 150px;
}
.add-operation__input--quantity {
  width: 145px;
}
.add-operation__input--sum {
  width: 150px;
}

.add-operation__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
}

.add-operation__documents > .add-operation__box__content {
  gap: 12px;
}

.add-operation__type-box__label input[type=radio]:checked + .add-operation__type-box__name {
  color: var(--text-light);
  background-color: var(--bg-brand);
  border: 1px solid transparent;
  box-shadow: var(--button-brand-shadow-default);
}

.button--md {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 10px 24px;
  border-radius: var(--radius-md);
}
.button--md svg {
  margin-right: 8px;
}
.button--sm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: var(--radius-md);
}
.button--sm svg {
  margin-right: 8px;
}
.button--brand {
  color: var(--button-brand-text-default);
  background-color: var(--button-brand-bg-default);
  box-shadow: var(--button-brand-shadow-default);
  transition: all var(--transition);
}
.button--brand:hover {
  color: var(--button-brand-text-hover);
  background-color: var(--button-brand-bg-hover);
  box-shadow: var(--button-brand-shadow-hover);
}
.button--brand:active {
  color: var(--button-brand-text-active);
  background-color: var(--button-brand-bg-active);
  box-shadow: none;
  transform: scale(0.98);
}
.button--second {
  color: var(--button-second-text-default);
  background-color: var(--button-second-bg-default);
  transition: all var(--transition);
}
.button--second:hover {
  color: var(--button-second-text-hover);
  background-color: var(--button-second-bg-hover);
}
.button--second:active {
  color: var(--button-second-text-active);
  background-color: var(--button-second-bg-active);
  transform: scale(0.98);
}

.button--lg:has(svg) {
  padding: 16px 32px 16px 24px;
}

.button--md:has(svg) {
  padding: 14px 24px 14px 20px;
}

.button--sm:has(svg) {
  padding: 10px 24px 10px 20px;
}

.alert {
  width: 100%;
  font-size: 14px;
  line-height: 1.45;
  padding: 10px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: var(--radius-nm);
}
.alert b {
  font-weight: 600;
}
.alert--success {
  color: var(--text-success);
  background-color: var(--bg-success);
}
.alert--info {
  color: var(--text-info);
  background-color: var(--bg-info);
}

.toast {
  padding: 14px 18px;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s ease;
}
.toast.success {
  background: var(--green-500);
}
.toast.error {
  background: #e74c3c;
}
.toast.info {
  background: var(--bg-brand);
}
.toast.warn {
  background: var(--bg-warning);
}
.toast.bottom-right.show {
  opacity: 1;
  transform: translateX(0);
}
.toast.bottom-right.hide {
  opacity: 0;
  transform: translateX(100%);
}
.toast.top-center.show {
  opacity: 1;
  transform: translateY(0);
}
.toast.top-center.hide {
  opacity: 0;
  transform: translateY(-30px);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(6px);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  background: rgba(255, 255, 255, 0.9);
  padding: 24px;
  border-radius: var(--radius-lg);
  max-width: 600px;
  width: 90%;
  position: relative;
  top: 50px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header h2 {
  font-size: 18px;
  line-height: 1;
  color: var(--text-title);
}

.modal-close {
  cursor: pointer;
  height: 24px;
  color: var(--text-error);
  opacity: 0.7;
  transition: opacity var(--transition);
}
.modal-close:hover {
  opacity: 1;
}

.modal-content {
  margin-top: 32px;
  max-height: 430px;
  overflow-y: auto;
}

.form-floating {
  position: relative;
}
.form-floating .form-input {
  width: 100%;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #e8e8e8;
  border-radius: var(--radius-nm);
}
.form-floating .form-input:focus {
  border-color: #bababa;
}
.form-floating .form-input:focus + .form-label, .form-floating .form-input:not(:placeholder-shown) + .form-label {
  top: 0px;
  left: 12px;
  font-size: 12px;
  font-weight: 500;
  padding: 0 4px;
  background-color: #fff;
  color: var(--text-title);
}
.form-floating .form-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: var(--neutral-400);
  transition: all var(--transition);
}