@import '../core/vars'

.form-floating
  position: relative

  .form-input
    width: 100%
    padding: 12px 24px
    font-size: 14px
    line-height: 16px
    border: 1px solid #e8e8e8
    border-radius: $radius-nm
    background: transparent
    color: $text-title
    &:focus
      border-color: #bababa

    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label
      top: 0px
      left: 12px
      font-size: 12px
      font-weight: 500
      padding: 0 4px
      background-color: #fff
      color: $text-body

  .form-label
    position: absolute
    top: 50%
    left: 12px
    transform: translateY(-50%)
    pointer-events: none
    font-size: 14px
    color: $neutral-400
    transition: all $transition

.error-field
  border: 1px solid $red-500!important

.field-message
  position: absolute
  left: 6px
  bottom: -16px
  font-size: 12px
  font-weight: 500
  &--error
    color: $text-error
  &--info

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:active, input:-webkit-autofill:focus
  -webkit-box-shadow: 0 0 0px 1000px white inset !important
  -webkit-text-fill-color: $text-title!important

