@import '../core/vars'


.label
  &--extra-sm
    display: inline-flex
    font-size: 14px
    font-weight: 600
    padding: 6px 8px
    border-radius: $radius-full

  &--sm
    display: inline-flex
    font-size: 12px
    line-height: 12px
    font-weight: 500
    padding: 8px 24px
    border-radius: 14px

  &--nr
    display: inline-flex
    font-size: 14px
    line-height: 14px
    font-weight: 500
    padding: 12px 24px
    border-radius: 24px


  &--success
    color: $label-success-text
    background-color: $label-success-bg

  &--error
    color: $label-error-text
    background-color: $label-error-bg

  &--info
    color: $label-brand-text
    background-color: $label-brand-bg

  &--secondary
    color: $text-primary
    background-color: #e0e0e0
    border: 1px solid #dbdbdb
    box-shadow: $button-second-shadow-default

  &--outline
    color: $text-secondary
    background-color: $neutral-200
    border: 1px solid $border-block


  &--type-operation
    display: inline-flex
    padding: 8px
    border: 1px solid $neutral-200
    border-radius: 32px

  &--incoming
    color: $text-inverse
    background-color: $bg-success

  &--write-off
    color: $text-inverse
    background-color: $bg-error

  &--outgoing
    color: $text-inverse
    background-color: #F48B1E
    svg
      transform: rotate(180deg)

  &--import
    color: $text-secondary
    background-color: $neutral-200

  &--type-operation__svg
    display: flex
    padding: 12px
    border-radius: 24px

.product-page__history-type > .label--type-operation__svg
  padding: 8px

.operation-history__type > .label--type-operation__svg
  padding: 8px
