@import '../core/vars'


.label
  &--sm
    display: inline-flex
    font-size: 12px
    line-height: 12px
    font-weight: 500
    padding: 8px 24px
    border-radius: 14px

  &--icon
    display: inline-flex
    padding: 8px
    border: 1px solid $neutral-200
    border-radius: 32px

    .label--success
      color: $text-light
      background-color: $bg-success

    .label--error
      color: $text-light
      background-color: $bg-error

    .label--warning
      color: $text-light
      background-color: #F48B1E

    .label__svg
      display: flex
      padding: 12px
      border-radius: 24px


  &--success
    color: $label-success-text
    background-color: $label-success-bg

  &--error
    color: $label-error-text
    background-color: $label-error-bg

  &--info
    color: $label-brand-text
    background-color: $label-brand-bg

  &--border
    color: $text-body
    border: 1px solid #e8e8e8
