<template id="doc-builder-warning-modal-template">
    <div class="settings-modal">
        <div id="doc-builder-warning-missing-section" class="settings-modal__confirm-text">
            <div id="doc-builder-warning-missing-lead"></div>
            <ul id="doc-builder-warning-missing-list"></ul>
            <div id="doc-builder-warning-missing-help"></div>
        </div>

        <div id="doc-builder-warning-common-text" class="settings-modal__confirm-text"></div>

        <div class="settings-modal__actions">
            <button type="button" id="doc-builder-warning-cancel" class="button button--nm button--secondary">Відмінити</button>
            <button type="button" id="doc-builder-warning-settings" class="button button--nm button--secondary">В налаштування</button>
            <button type="button" id="doc-builder-warning-generate" class="button button--nm button--brand">Сформувати</button>
        </div>
    </div>
</template>
