@import '../../core/vars'

.sidebar
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 24px

.sidebar-navigation
  padding: 6px
  background-color: $bg-box--light
  box-shadow: $box-light-shadow
  border-radius: 34px

  &__list
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    gap: 6px

  &__item

  &__link
    display: flex
    color: $text-title
    padding: 16px
    border-radius: 28px
    transition: all $transition
    &:hover
      color: $text-title
      background-color: $neutral-200
    &:active
      color: $button-brand-text
      background-color: $button-brand-bg-default
      box-shadow: $button-brand-shadow-default
    &.active
      color: $button-brand-text
      background-color: $button-brand-bg-default
      box-shadow: $button-brand-shadow-default


.sidebar-category
  position: relative
  padding: 6px
  background-color: $bg-box--dark
  box-shadow: $box-light-shadow
  border-radius: 34px

  &__button
    display: flex
    color: $text-light
    padding: 16px
    border-radius: 28px
    transition: all $transition
    &:hover
      color: $text-light
      background-color: $neutral-700
    &:active
      color: $text-light
      background-color: #4D4D94
      box-shadow: $button-brand-shadow-default
    &.active
      color: $button-brand-text
      background-color: $button-brand-bg-default
      box-shadow: $button-brand-shadow-default
      transition: all $transition

  &__content
    position: absolute
    left: calc( 100% + 12px )
    bottom: -48px
    width: max-content
    // padding: 4px
    background-color: $bg-box--dark
    opacity: 0
    z-index: 10
    visibility: hidden
    border-radius: $radius-nm
    transition: visibility $transition, opacity $transition
    &.active
      opacity: 1
      visibility: visible


