$blue-400: var(--blue-400)
$blue-500: var(--blue-500)

$red-400: var(--red-400)
$red-500: var(--red-500)

$green-400: var(--green-400)
$green-500: var(--green-500)

$neutral-100: var(--neutral-100)
$neutral-200: var(--neutral-200)
$neutral-300: var(--neutral-300)
$neutral-400: var(--neutral-400)
$neutral-500: var(--neutral-500)
$neutral-600: var(--neutral-600)
$neutral-900: var(--neutral-900)

$text-title: var(--text-title)
$text-body: var(--text-body)
$text-subtitle: var(--text-subtitle)
$text-light: var(--text-light)
$text-brand: var(--text-brand)
$text-success: var(--text-success)
$text-error: var(--text-error)
$text-warning: var(--text-warning)
$text-info: var(--text-info)

$bg-body: var(--bg-body)
$bg-box: var(--bg-box)
$bg-brand: var(--bg-brand)
$bg-info: var(--bg-info)
$bg-error: var(--bg-error)
$bg-success: var(--bg-success)
$bg-warning: var(--bg-warning)
$border: var(--border)

$box-light-shadow: var(--box-light-shadow)

$radius-sm: var(--radius-sm)
$radius-md: var(--radius-md)
$radius-nm: var(--radius-nm)
$radius-lg: var(--radius-lg)

$field-bg: var(--field-bg)
$field-border-hover: var(--field-border-hover)
$field-border-focus: var(--field-border-focus)

$button-brand-bg-default: var(--button-brand-bg-default)
$button-brand-bg-hover: var(--button-brand-bg-hover)
$button-brand-bg-active: var(--button-brand-bg-active)
$button-brand-text-default: var(--button-brand-text-default)
$button-brand-text-hover: var(--button-brand-text-hover)
$button-brand-text-active: var(--button-brand-text-active)
$button-brand-shadow-default: var(--button-brand-shadow-default)
$button-brand-shadow-hover: var(--button-brand-shadow-hover)

$button-second-border-default: var(--button-second-border-default)
$button-second-bg-default: var(--button-second-bg-default)
$button-second-bg-hover: var(--button-second-bg-hover)
$button-second-bg-active: var(--button-second-bg-active)
$button-second-text-default: var(--button-second-text-default)
$button-second-text-hover: var(--button-second-text-hover)
$button-second-text-active: var(--button-second-text-active)

$label-brand-bg: var(--label-brand-bg)
$label-brand-text: var(--label-brand-text)

$label-success-bg: var(--label-success-bg)
$label-success-text: var(--label-success-text)

$label-error-bg: var(--label-error-bg)
$label-error-text: var(--label-error-text)

$label-warning-bg: var(--label-warning-bg)
$label-warning-text: var(--label-warning-text)

$label-info-bg: var(--label-info-bg)
$label-info-text: var(--label-info-text)

$label-secondary-bg: var(--label-secondary-bg)
$label-secondary-text: var(--label-secondary-text)

$transition: var(--transition)
$fontFamily: var(--fontFamily)
