<div class="modal-search-products p-3">
    <!-- Поле поиска -->
    <div class="form-group mb-2">
        <input type="text" id="searchProductInput" placeholder="Введите имя или номенклатурный номер" class="form-control">
    </div>

    <!-- Кнопка поиска -->
    <div class="mb-2">
        <button id="btnSearchProductModal" class="button button--md button--primary">Поиск</button>
    </div>

    <!-- Результаты поиска -->
    <div id="productSearchResults" class="search-results mt-2"></div>
</div>
